header {
  background-image: url("/assets/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  height: 136px;

  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  img {
    width: 115px;
    height: 32px;
  }
}
@media (min-width: 769px) {
  header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
  }
}
