.form--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  margin: 1.5em 1.5em 0 1.5em;
  position: relative;
  top: -60px;
  border-radius: 12px;
}
.form--container input {
  border: none;
  width: 120px;
  height: 80px;
  color: #9daec2;
  background-color: transparent;
}
.form--container .icon--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 80px;
}
.form--container .icon--flex button {
  background-color: #5964e0;
  border: none;
  padding: 0.5em;
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 6px;
  width: 48px;
  height: 48px;
}
.form--container .popUp {
  position: fixed;
  background-color: #ffffff;
  padding: 2em;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  border-radius: 6px;
}
.form--container .popUp .icon--input--wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}
.form--container .popUp .icon--input--wrapper img {
  width: 17px;
  height: 24px;
}
.form--container .popUp .icon--input--wrapper input {
  margin-left: 1rem;
}
.form--container .popUp .checkbox--label--wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}
.form--container .popUp .checkbox--label--wrapper input {
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 1em;
}
.form--container .popUp .checkbox--label--wrapper label {
  font-weight: bold;
  color: #19202d;
}
.form--container .popUp button {
  width: 100%;
  margin-top: 1em;
  background-color: #5964e0;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 1em;
  font-weight: bold;
}

.form--container--light {
  background-color: #ffffff;
}

.form--container--dark {
  background-color: #19202d;
}

::-moz-placeholder {
  color: #9daec2;
}

::placeholder {
  color: #9daec2;
}

.container {
  height: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0;
  pointer-events: none; /* Ensure clicks pass through the overlay */
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
}

@media (min-width: 789px) {
  .form--container {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
  .form--container .icon--input--wrapper {
    display: flex;
    align-items: center;
    padding-left: 1em;
  }
  .form--container .icon--input--wrapper:nth-child(2) {
    padding-left: 0;
  }
  .form--container .icon--input--wrapper input {
    border-right: 1px #9daec2 solid;
    text-align: left;
    min-width: 200px;
    padding-left: 1em;
  }
  .form--container .checkbox--label--wrapper {
    display: flex;
    align-items: center;
  }
  .form--container .checkbox--label--wrapper .checkbox {
    width: 20px;
    height: 20px;
    display: inline;
  }
  .form--container .checkbox--label--wrapper label {
    padding: 0.7em;
    font-weight: bold;
  }
  .form--container button {
    background-color: #5964e0;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 1em;
    font-weight: bold;
  }
}/*# sourceMappingURL=Search.style.css.map */