@import "./variables.scss";

* {
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
#root,
body {
  margin: 0 auto;
  padding: 0;

  // text-align: center;
  font-family: $font;
}
// .dark,
// .light {
//   // height: 100vh;
// }
.dark {
  background-color: $midnight;
}
.light {
  background-color: $almostWhite;
}
